__pycache__/
.venv/
*.pyc
*.mo
tmp/
dist/
build/
*.egg-info/
docs/_build/
.locale/
__pycache__/
.pytest_cache/
.ruff_cache/
*.db
.coverage
.doit.db
*.egg-info/
web/static/docs/
docs/_doctrees/
docs/_build/
